@font-face {
  font-family: "Basier Circle";
  src: 
      url("../fonts/Basier-Circle/basiercircle-regular-webfont.woff") format("woff")
      url("../fonts/Basier-Circle/basiercircle-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Basier Circle";
  src: 
      url("../fonts/Basier-Circle/basiercircle-regularitalic-webfont.woff") format("woff")
      url("../fonts/Basier-Circle/basiercircle-regularitalic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Basier Circle";
  src: 
      url("../fonts/Basier-Circle/basiercircle-medium-webfont.woff") format("woff")
      url("../fonts/Basier-Circle/basiercircle-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Basier Circle";
  src: 
      url("../fonts/Basier-Circle/basiercircle-semibold-webfont.woff") format("woff")
      url("../fonts/Basier-Circle/basiercircle-semibold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Basier Circle Mono";
  src: 
      url("../fonts/Basier-Circle-Mono/basiercirclemono-regular-webfont.woff") format("woff")
      url("../fonts/Basier-Circle-Mono/basiercirclemono-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
