@use "../abstracts" as a;

.c-primary-dark { color: a.$grey; }
.c-primary { color: a.$tiffany; }
.c-secondary { color: a.$copy; }
.c-secondary-light { color: a.$grey; }
.c-light { color: a.$light; }
.c-copy { color: a.$copy; }

.bg-dark {
  background-color: a.$grey;
  color: a.$light;
}

.bg-light {
  background-color: a.$light;
  color: a.$copy;
}

.space-lg { padding-bottom: a.$lg; }
.space-md { padding-bottom: a.$md; }
.space-sm { padding-bottom: a.$sm; }
.space-xs { padding-bottom: a.$xs; }
.space-xxs { padding-bottom: a.$xxs; }

.whero,
.w1, 
.w2, 
.w3, 
.w4 {
  max-width: 100%;
  margin: 0 auto;
}

.whero { width: a.$whero; }
.w1 { width: a.$w1; }
.w2 { width: a.$w2; }
.w3 { width: a.$w3; }
.w4 { width: a.$w4; }

.gutter-xs {
  @include a.lg {
    padding-right: a.$xs;
    padding-left: a.$xs;
  }
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hide { display: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
