@use "../abstracts" as a;

$type-mult: 1.333;

%mono {
    font-family: "Basier Circle Mono", monospace;
    font-size: 0.8rem;
}

html {
  font-family: "Basier Circle", Inter, system-ui, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: a.$copy;

  @include a.md { font-size: 14px; }

  @include a.sm { font-size: 12px; }
}

p,
.copy {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: a.$xxs;

  &.mono,
  &.small { @extend %mono; }
  &.big { font-size: 1.2rem; }

  @include a.md { font-size: 1.15rem; }

  @include a.sm { font-size: 1.35rem; }
}

a {
  color: a.$grey-dark;
  border-bottom: 1.5px solid a.$grey;
  text-decoration: none;
  transition: 0.25s ease-out;
}

%lowercase { text-transform: lowercase; }

%heading {
  line-height: 1em;
  overflow-wrap: anywhere;
  &.light { font-weight: 400; }

  a {
    color: inherit;
    border-bottom-color: a.$copy;
  }
}

.text,
.article {
  %heading {
    margin-top: max(a.$xs, 0.15em);
    margin-bottom: max(a.$xxs, 0.05em);
  }
}

%h1 {
  font-size: calc( a.pow($type-mult, 5) * 1rem);
  font-weight: 400;
}
h1,
.h1 { @extend %h1, %heading, %lowercase; }

%h2 {
  font-size: calc( a.pow($type-mult, 4) * 1rem);
  font-weight: 600;
}
h2,
.h2 { @extend %h2, %heading, %lowercase; }

%h3 {
  font-size: calc( a.pow($type-mult, 3) * 1rem);
  font-weight: 600;
}
h3,
.h3 { @extend %h3, %heading, %lowercase; }

%h4 {
  font-size: calc( a.pow($type-mult, 2) * 1rem);
  font-weight: 500;
}
h4,
.h4 { @extend %h4, %heading; }

%h5 {
  font-size: calc( a.pow($type-mult, 1) * 1rem);
  font-weight: 600;
}
h5,
.h5 { @extend %h5, %heading; }

%h6 {
  font-size: 1rem;
  font-weight: 500;
}
h6,
.h6 { @extend %h6, %heading; }

.subtitle,
.subtitle * {
  @extend %h5;

  line-height: 1.6em;
  font-weight: 400;
}

a:hover {
  color: a.$grey;
  border-color: a.$grey-light;
}

b,
.bold { font-weight: 500; }

em,
i { font-style: italic; }

.regular { font-weight: 400; }

%code {
    @extend %mono;
    color: a.$grey-dark;
}

/* Inline */
p,
ul li,
ol li {
  code,
  .code {
    @extend %code;
    
    padding: calc(a.$xxs / 4) calc(0.75 * a.$xxs);
    background-color: a.$grey-light;
    border-radius: 2px;
  }
}

pre  {
    code,
    .code {
	@extend %code;

	display: block;
	overflow: auto;
	padding: a.$xs;
	color: a.$copy;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	background: a.$grey-light;
	border-radius: 5px;
    }
}


ul {
  list-style-type: disc;
  
  ul {
    list-style-type: circle;
    ul { list-style-type: revert; }
  }
}

ol {
  list-style-type: decimal;
  
  ol {
    list-style-type: lower-alpha;
    ol { list-style-type: upper-roman; }
  }
}

ul,
ol {
  list-style-position: outside;
  padding-left: 1em;

  li {
    margin: a.$xxs 0;

    ul,
    ol {
      margin-left: 1.5em;
    }
  }
}
